<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.maning.gankmm">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- Umeng -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:name=".app.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="56dce179e0f55ac5d700046c" />
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="${UMENG_CHANNEL_VALUE}" />

        <activity
            android:name=".activity.WelcomeActivity"
            android:screenOrientation="portrait"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.MainActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.ImagesActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.WebActivity"
            android:screenOrientation="portrait" />

        <!-- Umeng自动更新 -->
        <service
            android:name="com.umeng.update.net.DownloadingService"
            android:process=":DownloadingService" />

        <activity
            android:name="com.umeng.update.UpdateDialogActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <!-- umeng反馈 -->
        <activity
            android:name="com.umeng.fb.ConversationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.AboutActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.FeedBackActivity"
            android:screenOrientation="portrait" />

    </application>

</manifest>
